$primary_color : #014034;

body{
    background-color: $primary_color;
    margin: 0;
    padding: 0;

    .Login{
        display: flex;
        justify-content: center;
        width: 100%;
        height: 1024px;

        .container{
            width: 80%;
            display: flex;
            justify-content: center;

            .row_main_row{
                width: 50%;
                flex-direction: column;
                background-color: #f1f1f2;
                text-align: center;
                box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
                height: 50%;
                margin: 100px 0 0 0;


                h1{
                    color: $primary_color;
                    font-size: 50px;
                    font-family: 'Khand';
                    font-weight: bolder;
                    margin: 50px 20px 50px 20px;
                }

                form{
                    display: flex;
                    flex-direction: column;
                    align-items: center;

                    input {
                        font-family: 'Cabin Condensed';
                        outline: 0;
                        background: #f2f2f2;
                        border: 2px solid $primary_color;
                        margin: 20px 0 0 0;
                        padding: 15px;
                        box-sizing: border-box;
                        font-size: 14px;
                        width: 80%;
                        text-align: center;

                    }

                    .buton{
                        font-family: 'Cabin Condensed';
                        outline: 0;
                        background: $primary_color;
                        border: 2px solid #f1f1f2;
                        color: #f1f1f2;
                        margin: 20px 0 20px 0;
                        padding: 15px;
                        box-sizing: border-box;
                        font-size: 14px;
                        width: 30%;
                        text-align: center;

                        &:hover{
                            background-color: #f1f1f2;
                            border: 2px solid $primary_color;
                            color: $primary_color;
                        }

                    }

                    a{
                        text-decoration: none;
                        font-family: 'Cabin Condensed';
                        color: $primary_color;
                    }

                }                   
            }
        }
    }
}

@media screen and (min-width :320px) and (max-width: 425px){
    body{
        background-color: $primary_color;
        margin: 0;
        padding: 0;

        .Login{
            display: flex;
            justify-content: center;
            width: 100%;
            height: 700px;

            .container{
                width: 80%;
                display: flex;
                justify-content: center;

                .row_main_row{
                    width: 100%;
                    flex-direction: column;
                    background-color: #f1f1f2;
                    text-align: center;
                    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
                    height: 50%;
                    margin: 50px 0 0 0;


                    h1{
                        color: $primary_color;
                        font-size: 25px;
                        font-family: 'Khand';
                        font-weight: bolder;
                        margin: 25px 10px 25px 10px;
                    }

                    form{
                        display: flex;
                        flex-direction: column;
                        align-items: center;

                        input {
                            font-family: 'Cabin Condensed';
                            outline: 0;
                            background: #f2f2f2;
                            border: 2px solid $primary_color;
                            margin: 20px 0 0 0;
                            padding: 15px;
                            box-sizing: border-box;
                            font-size: 14px;
                            width: 80%;
                            text-align: center;

                        }

                        .buton{
                            font-family: 'Cabin Condensed';
                            outline: 0;
                            background: $primary_color;
                            border: 2px solid #f1f1f2;
                            color: #f1f1f2;
                            margin: 20px 0 20px 0;
                            padding: 15px;
                            box-sizing: border-box;
                            font-size: 14px;
                            width: 30%;
                            text-align: center;

                            &:hover{
                                background-color: #f1f1f2;
                                border: 2px solid $primary_color;
                                color: $primary_color;
                            }

                        }

                        a{
                            text-decoration: none;
                            font-family: 'Cabin Condensed';
                            color: $primary_color;
                        }

                    }                   
                }
            }
        }
    }
}